/*
  CSS Reset 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
btn,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
btn,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset Ends */

/* Custom properties */
:root {
  /* primary colors */
  --purple: hsl(263, 73%, 27%);
  --btn-purple: hsl(264, 100%, 69%);
  --btn-dark-purple: hsl(265, 46%, 49%);
  --red: hsl(340, 62%, 35%);

  /* neutral colors */
  --white: hsl(0, 0%, 100%);
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

/* btn component starts */
.btn {
  display: inline-block;
  padding: 12px 28px;
  margin: 10px;
  font-size: inherit;
  font-weight: bold;
  color: var(--white);
  background-image: linear-gradient(
    to bottom right,
    var(--btn-purple),
    var(--btn-dark-purple)
  );
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 0px var(--btn-dark-purple);
  transition: all 0.2s ease-in-out;
}

.btn:is(:hover) {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px var(--btn-dark-purple);
}

.btn:is(:active) {
  transform: translateY(0px);
  box-shadow: none;
  background-image: linear-gradient(
    to bottom right,
    var(--btn-dark-purple),
    var(--btn-purple)
  );
}

/* btn component ends */

body {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 70%;
  padding: 1rem;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    130deg,
    hsla(243, 100%, 41%, 1) 0%,
    hsla(261, 89%, 27%, 0.9) 30%,
    hsla(330, 100%, 31%, 0.8) 49%,
    hsla(354, 80%, 47%, 0.8) 66%,
    hsla(1, 100%, 58%, 0.9) 82%,
    hsla(1, 100%, 58%, 1) 100%
  );
}

body::after {
  position: absolute;
  content: '';
  width: 280px;
  height: 280px;
  bottom: 0;
  left: 0;
  background-image: url(./images/BG.png);
  background-position: right top;
  background-size: 140%;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.5s ease;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.logo__img {
  margin: auto;
  max-width: 300px;
  transform: translateY(65%);
  transition: all 1s ease;
}

.logo__img--after {
  transform: translateX(0%);
}

.main {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-column: auto;
  grid-template-rows: 1fr 1fr;
  transition: all 1s ease;
}

.main--after {
  grid-template-rows: 0.4fr 1.6fr;
}

.main__heading {
  position: absolute;
  top: 50%;
  left: calc(50% - 150px);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 300px;
  transition: all 1s ease;
}

.main__heading--after {
  top: 35%;
}

.intro {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.intro--after {
  animation: hide-section 1s ease-in;
}

.intro__paragraph {
  max-width: 35ch;
}

.intro__btn {
  max-width: 140px;
}

.game {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 20px;
}

.game--after {
  animation: show-section 1s ease-in;
}

.game_hide {
  animation: hide-section 1s ease-in;
}

.game__question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.game__heading {
  font-size: 1.25rem;
  font-weight: 400;
}

.game__paragraph {
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  text-align: left;
  padding-inline-start: 15px;
}

.game__paragraph::marker {
  content: '#';
}

.quiz__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quiz__input {
  color: var(--white);
  padding: 12px 28px;
  border: none;
  border-radius: 10px;
  background: none;
  background-image: linear-gradient(
    to bottom right,
    hsl(0, 2%, 12%),
    hsl(0, 1%, 28%)
  );
}

.quiz__input::placeholder {
  color: var(--white);
}

.quiz__input_invalid {
  animation: shake-form-input 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translateX(0);
  border: 1px solid var(--red);
}

.quiz__feedback-img {
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  margin: 0 auto;
  margin-top: 15px;
  max-width: 100px;
  animation: mirrorflip 0.5s 0s linear, show-feedback 1s ease-in;
}

.quiz__message {
  position: absolute;
  top: 70%;
  left: calc(50% - 17.5ch);
  animation: show-feedback 1s ease-in;
}

.game__feedback-heading {
  font-weight: 1.8rem;
  margin-bottom: 15px;
}

.game__feedback-paragraph {
  font-weight: 300;
  max-width: 35ch;
  margin: 0 auto;
}

.hide {
  display: none;
}

@media screen and (min-width: 375px) {
  .main__heading {
    left: calc(50% - 175px);
    font-size: 2.4rem;
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: linear-gradient(
      180deg,
      hsla(243, 100%, 41%, 1) 0%,
      hsla(261, 89%, 27%, 0.9) 30%,
      hsla(330, 100%, 31%, 0.8) 49%,
      hsla(354, 80%, 47%, 0.8) 66%,
      hsla(1, 100%, 58%, 0.9) 82%,
      hsla(1, 100%, 58%, 1) 100%
    );
  }

  body::after {
    left: auto;
    right: 0;
    width: 40%;
    height: 100%;
    background-position: -50% 100%;
    background-size: cover;
  }

  .logo__img {
    max-width: 450px;
    transform: translateY(40%);
  }

  .logo__img--after {
    transform: translateX(0%);
  }

  .main__heading {
    left: calc(50% - 250px);
    font-size: 3.5rem;
    width: 500px;
  }

  .main__heading--after {
    top: 33%;
  }
}

@media screen and (min-width: 1440px) {
  body::after {
    left: auto;
    right: 0;
    width: 40%;
    height: 100%;
    background-position: -200% 100%;
    background-size: cover;
  }
}

/* glitch styling */
.glitch {
  /* position: relative; */
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  letter-spacing: 1px;
  z-index: 1;
  animation: shift 3s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #00e571;
  z-index: -2;
}

/* Animation */
@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

@keyframes mirrorflip {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  50% {
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
}

@keyframes hide-section {
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes show-section {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes show-feedback {
  from {
    opacity: 0;
  }
}

@keyframes shake-form-input {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}
